## Dataset Overview

* **Name:** Guestâ€™s full name
* **Relation:** How the guest is related to the host
* **Description:** A brief biography or interesting facts about the guest
* **Email Address:** Contact information for sending invitations or follow-ups

---

There are just *3 rows* for a fundamental practice

In [1]:
from datasets import load_dataset

# Login using e.g. `huggingface-cli login` to access this dataset
ds = load_dataset("agents-course/unit3-invitees")

In [2]:
ds.keys()

dict_keys(['train'])

In [3]:
train_df = ds['train'].to_pandas()

In [4]:
train_df.head()

,name,relation,description,email
0,Ada Lovelace,best friend,Lady Ada Lovelace is my best friend. She is an...,ada.lovelace@example.com
1,Dr. Nikola Tesla,old friend from university days,Dr. Nikola Tesla is an old friend from your un...,nikola.tesla@gmail.com
2,Marie Curie,no relation,Marie Curie was a groundbreaking physicist and...,marie.curie@example.com

In [5]:
print(f"There are {len(train_df)} of observations in the set.")
print(f"There are {len(train_df['name'].unique())} of unique people in the set.")

There are 3 of observations in the set.
There are 3 of unique people in the set.